<div id="supportrd-modal" hidden>
  <div class="supportrd-backdrop"></div>
  <div class="supportrd-panel">
    <button type="button" class="supportrd-close" id="supportrd-close">Close</button>
    <div id="supportrd-panel-body"></div>
  </div>
</div>
